
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Kendo UI + Node</title>
  <link href="../css/kendo.common.min.css" rel="stylesheet"/>
  <link href="../css/kendo.default.min.css" rel="stylesheet"/>
  <link href="../css/kendo.default.min.css" rel="stylesheet"/>
  <script src="../js/jquery-1.9.1.min.js"></script>
  <script src="../js/kendo.web.min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
